* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    max-width: 1920px;
    margin: auto;
}

/* #00a884 20%   #696969 80% */

body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #00a884  0% 24vh, #dddbd1 0% 88vh, #e7e6df 100% 38vh);
    background-repeat: no-repeat;
    overflow: hidden;
}


.wrapper {
    height: 100vh;
    
}

.app{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10% 0;
}

.left-site {
    height: auto;
    width: 30%; 
    height: 790px;

}

.right-site {
    width: 70%;
    height: auto;
    height: 790px;
}

.me-profile {
    background-color: #e9e9e9;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.171);
    padding: 0 20px;

    >img{
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }
}

.me-icon{
    display: flex;
    gap: 15px;
    >i{
        font-size: 20px;
        color: rgb(141, 141, 141);
    }
}

.card-top {
    background-color: #e9e9e9;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}


.icon {
    display: flex;
    gap: 15px;
    color: rgb(163, 163, 163);
    font-size: 20px;
}

.left-main {
    width: 35%;
    height: auto;
}

.notifications {
    background-color: #8ad3f5;
    height: 80px;
    padding: 0 20px;
    display: flex;
    align-items: center;

    >i{
        background-color: white;
        color:#6cc5ee ;
        padding: 15px;
        border-radius: 100%;
    }

}
.not-message{
    padding: 10px; 
}

a{
    color: rgb(131, 130, 130);
}

.serch {
    background-color: #f1eeee;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar{
    background-color:white;
    border-style: none;
    height: 35px;
    width: 90%;
    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 10px;
    gap: 10px;
}

.bar i{
    color:#e9e9e9 ;
}

.bar input{
    border-style: none;
    width: 80%;
}

.users{
    overflow-y: scroll;
    height: 480.5px;
}

.card {
    background-color:#e9e9e9;
    height: 80px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.055);
    display: flex;
    align-items: center;
    padding-left: 15px;
    position: relative;
}

.card img{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
}
.time{
    position: absolute;
    right: 5px;
    top: 5px;
}

.center-message {
    background-image: url(./img/mine.jpg);
    background-repeat: repeat;
    width: 100%;
    height: 530px;
    display: flex;
    flex-direction: column;
    gap: 4%;
    padding: 20px 0;
    overflow-y: scroll;
}

.chat {
    background-color: #F3EEEA;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    align-items: center;
    padding: 0 40px;
}

.chat i{
    color: rgb(163, 163, 163);
    font-size: 20px;
}

.chat input{
    width: 80%;
    height: 40px;
    border-style: none;
    padding: 0px 20px;
}

.message-1 {
    background-color: #00ac4d;
    height: auto;
    width: 40%;
    padding: 15px;
    border-radius: 20px;
    margin: 0 10% 1% 50%;
}

.message-2 {
    background-color: #c7c9c9;
    height: auto;
    width: 40%;
    padding: 15px;
    border-radius: 20px;
    margin: 0 0 1% 10%;
}


/*#region MEDIA PHONE */

/* first phone 320px */

@media screen and (min-width:320px) and (max-width:374px){
    .container {
        width: 100%;
    }

    .wrapper {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .app{
        height: 100%;
        margin: 0;
    }

    .left-site {
        display: none;
    }

    .right-site {
        width: 100%;
        height: 100%;  
    }

    .center-message{
        width: auto;
        overflow-x: none;
    }

    .message-1 {
        background-color: #00ac4d;
        height: auto;
        width: 70%;
        padding: 15px;
        border-radius: 20px;
        margin: 0 10% 1% 24%;
    }
    

    .message-2 {
        background-color: #c7c9c9;
        height: auto;
        width: 70%;
        padding: 15px;
        border-radius: 20px;
        margin: 0 0 1% 10%;
    }

    .icon{
        display: none;
    }
}


/* phone 375px */

@media screen and (min-width:375px) and (max-width:424px){
    .container {
        width: 100%;
    }

    .wrapper {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .app{
        height: 100%;
        margin: 0;
    }

    .left-site {
        display: none;
    }

    .right-site {
        width: 100%;
        height: 100vh;  
    }

    .center-message{
        width: auto;
        overflow-x: none;
    }

    .message-1 {
        background-color: #00ac4d;
        height: auto;
        width: 70%;
        padding: 15px;
        border-radius: 20px;
        margin: 0 10% 1% 24%;
    }
    

    .message-2 {
        background-color: #c7c9c9;
        height: auto;
        width: 70%;
        padding: 15px;
        border-radius: 20px;
        margin: 0 0 1% 10%;
    }

    .icon{
        display: none;
    }
}

/*  phone 425px */

@media screen and (min-width:425px) and (max-width:450px) {
    .container {
        width: 100%;
    }

    .wrapper {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .app{
        height: 100%;
        margin: 0;
    }

    .left-site {
        display: none;
    }

    .right-site {
        width: 100%;
        height: 100vh;  
    }

    .center-message{
        width: auto;
        overflow-x: none;
    }

    .message-1 {
        background-color: #00ac4d;
        height: auto;
        width: 70%;
        padding: 15px;
        border-radius: 20px;
        margin: 0 10% 1% 24%;
    }
    

    .message-2 {
        background-color: #c7c9c9;
        height: auto;
        width: 70%;
        padding: 15px;
        border-radius: 20px;
        margin: 0 0 1% 10%;
    }

    .icon{
        display: none;
    }

}

/*#endregion MEDIA PHONE */

@media screen and (min-width:451px) and (max-width:768px){
    
    .container{
        width: 100%;
    }

    .wrapper {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .app{
        height: 100vh;
        margin: 0;
    }

    .left-site {
        width: 10vw;
        height: 690px;
        overflow-x: hidden;
    }

    .me-profile{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
    }
    .me-icon{
        display: none;
    }

    .users{
        height: 610px;
    }

    .card{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user-name, .time{
        display: none;
    }

    .notifications, .serch{
        display: none;
    }

    .right-site {
        width: 100vh;
        height: 690px;  
    }

    .center-message{
        width: auto;
        overflow-x: none;
    }

    .message-1 {
        background-color: #00ac4d;
        height: auto;
        width: 70%;
        padding: 15px;
        border-radius: 20px;
        margin: 0 10% 1% 24%;
    }
    

    .message-2 {
        background-color: #c7c9c9;
        height: auto;
        width: 70%;
        padding: 15px;
        border-radius: 20px;
        margin: 0 0 1% 10%;
    }

    .icon{
        display: none;
    }




@media screen and (min-width:769px) and (max-width:1024px){
    .message-1 {
        background-color: #00ac4d;
        height: auto;
        width: 60%;
        padding: 15px;
        border-radius: 20px;
        position: absolute;
        top: 5%;
        right: 10%;
    }

    .message-2 {
        background-color: #c7c9c9;
        height: auto;
        width: 60%;
        padding: 15px;
        border-radius: 20px;
        position: absolute;
        left: 10%;
        bottom: 42%;
    }

}
